.all_resumes{
    display: flex;

    flex-wrap: wrap;

    padding-bottom: 20px;
}

.one_resume{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 275px;
    width: 215px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;

    padding: 7px;
    background-color: rgb(0, 0, 0);

}


.title{
    font-size: 14px;
    font-weight: 500;

}

.with_title{
    display: flex;
    flex-direction: column;
    gap: 7px;


    text-overflow: ellipsis;


}



.skill_container{

    padding-left: 8px;
    padding-right: 8px;


    color: black;
    z-index: 1000;
    border-radius: 10px;
    outline: 1px solid rgb(0, 0, 0);




}
.skill{
    color: rgb(255, 255, 255);
    font-size: 12px;
    /* mix-blend-mode: difference; */


}

.all_skills{
    margin-top: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;


    width: 100%;


    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    z-index: 2;

    gap: 10px;
}
.title_cont{

    text-overflow: ellipsis " [..]";;
    overflow: hidden;
    width: 220px;
    height: 1.2em;
    white-space: nowrap;
}

.image_div{
    z-index: 1;

    height: 100%;
    width:100%;

}

.thumbnail{
    filter: grayscale(100%);


    z-index: 1;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.with_title:hover{
    filter: grayscale(0%);
    opacity: 0.7;

    transition-duration: 0.2s;
}

.gradient{
    display: block;
    position: absolute;
    height: 275px;

    left: 0px;
    top: 0px;
    width: 100%;

    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.223), rgba(0, 0, 0, 0.677));

    z-index: 2;
}

.job_title{
    background-color: rgba(255, 200, 0, 0.361);
    backdrop-filter: blur(5px);
    position: relative;
    padding: 2px;
    font-size: 14px;
    top: 0px;
    color: black;
    z-index: 5;

    outline: 1px solid black;

    border-radius: 5px;

    text-align: center;
}