.select{
    padding: 10px;
    height: 42px;
    background-color: rgb(28, 28, 28);

    color: #9f9f9f;

    border-radius: 5px;
    transition-duration: 0.15s;

    outline: 1px solid rgb(49, 49, 49);
    border-bottom: 1px solid rgb(70, 70, 70);


}